<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SahanbaiDB" connectionString="data source=DESKTOP-Q1UHC02\ISONDB;initial catalog=SinseiMarin;user id=sa;password=P@ssw0rd1025;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>